[Interface]
Address = {{ wireguard__client_ip }}
PrivateKey = {{ wireguard__client_private_key }}

[Peer]
PublicKey = {{ wireguard__server_public_key }}
AllowedIPs = {{ wireguard_subnet }}
Endpoint = {{ server_ip }}:{{ wireguard_port }}
PersistentKeepalive = 25
